aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.2
aiolimiter==1.1.0
aioprocessing==2.0.1
aiorun==2023.7.2
aiosignal==1.3.1
aiosqlite==0.20.0
altair==5.5.0
anyio==4.7.0
argcomplete==3.5.2
arrow==1.3.0
asttokens==2.2.1
async-property==0.2.2
async-timeout==4.0.3
asyncpraw==7.7.1
asyncprawcore==2.3.0
attrs==23.1.0
auto_subtitle @ git+https://github.com/m1guelpf/auto-subtitle.git@124ccb1ac17d5b7a27dd81b3d8f8fed6ef1a5408
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.9.0
browser-cookie3==0.19.1
bs4==0.0.2
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.2.0
click==8.1.8
cloup==3.0.5
colorama==0.4.6
comm==0.1.3
construct==2.8.8
contourpy==1.3.1
cyberdrop-dl==4.2.192
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
dill==0.3.9
diskcache==5.6.3
dunamai==1.23.0
emoji==2.7.0
executing==1.2.0
faust-cchardet==2.1.19
ffmpeg-python==0.2.0
filelock==3.15.4
fonttools==4.55.8
frozendict==2.4.6
frozenlist==1.4.0
fsspec==2024.6.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
inquirerpy==0.3.4
ipykernel==6.25.0
ipython==8.14.0
jedi==0.19.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.8
limiter==0.5.0
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.3.0
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.4.0
mpegdash==0.4.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.17
multitasking==0.0.11
myjdapi==1.1.7
narwhals==1.24.1
nest-asyncio==1.5.7
networkx==3.3
numba==0.60.0
numpy==2.0.2
ofscraper==3.12.9
openai-whisper==20231117
packaging==23.1
pandas==2.2.3
parso==0.8.3
pathvalidate==3.2.1
peewee==3.17.8
pfzy==0.3.4
pickleshare==0.7.5
pillow==11.1.0
pipx==1.7.1
platformdirs==3.10.0
poetry-dynamic-versioning==1.4.1
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==5.9.8
pure-eval==0.2.2
pyarrow==19.0.0
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydeck==0.9.1
Pygments==2.15.1
pymp4==1.4.0
pynumparser==1.4.1
pyparsing==3.2.1
pyreadline3==3.5.4
python-dateutil==2.8.2
pytz==2024.2
pywidevine==1.8.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
referencing==0.36.2
regex==2024.7.24
requests==2.31.0
rich==13.9.4
rpds-py==0.22.3
schedule==1.2.2
scipy==1.15.1
setproctitle==1.3.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.4.1
speedtest-cli==2.1.3
stack-data==0.6.2
streamlit==1.41.1
StrEnum==0.4.15
sympy==1.13.2
tenacity==8.5.0
textual==0.52.1
tiktoken==0.7.0
token-bucket==0.3.0
toml==0.10.2
tomlkit==0.13.2
torch==2.4.0
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
Unidecode==1.3.8
update-checker==0.18.0
urllib3==2.0.4
userpath==1.9.2
watchdog==6.0.0
wcwidth==0.2.6
webencodings==0.5.1
win32_setctime==1.2.0
xxhash==3.5.0
yarl==1.9.2
yfinance==0.2.52
