matplotlib==3.10.0
matplotlib-inline==0.1.6
numba==0.60.0
numpy==2.0.2
pandas==2.2.3
pynumparser==1.4.1
pyparsing==3.2.1
pyreadline3==3.5.4
scipy==1.15.1
streamlit==1.41.1
sympy==1.13.2
yfinance==0.2.52
